:root {
  --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --color-white: #ffffff;
  --color-zinc-50: #fafafa;
  --color-zinc-100: #f5f5f5;
  --color-zinc-200: #e5e5e5;
  --color-zinc-300: #d4d4d4;
  --color-zinc-400: #a3a3a3;
  --color-zinc-500: #737373;
  --color-zinc-600: #525252;
  --color-zinc-700: #404040;
  --color-zinc-800: #262626;
  --color-zinc-900: #171717;
  --color-zinc-950: #0a0a0a;
  --color-neutral-800: #262626;
  --color-accent: var(--color-neutral-800);
  --color-accent-content: var(--color-neutral-800);
  --color-accent-foreground: var(--color-white);
}

:root.dark {
  --color-accent: var(--color-white);
  --color-accent-content: var(--color-white);
  --color-accent-foreground: var(--color-zinc-800);
}

body {
  font-family: var(--font-sans);
}

*,
::after,
::before,
::backdrop,
::file-selector-button {
  border-color: var(--color-zinc-200);
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
  display: grid;
  gap: 0.5rem;
}

[data-flux-label] {
  margin-bottom: 0;
  line-height: 1.25;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-accent), 0 0 0 4px var(--color-accent-foreground);
}
